
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="/static/dependecies/jquery.js" defer></script>

    <link rel="stylesheet" href="/static/css/index.css">

    <script src="/static/js/oeis.js" defer></script>
    <script src="/static/js/classes.js" defer></script>
    <script src="/static/js/index.js" defer></script>
</head>
<body>
    
    <table>
    </table>

</body>
</html>